@model IEnumerable<Finance.Models.IncomingsFromOrestdb>

@foreach (var item in Model)
{
    <tr>
        <td name="companyName" style="width: 20%;">
            @Html.DisplayFor(modelItem => item.NameKlt)
        </td>
        <td style="width: 10%;">
            @Html.DisplayFor(modelItem => item.TotalPaymentSumm)
        </td>
        <td style="width: 10%;">
            @Html.DisplayFor(modelItem => item.DocumentCreated)
            @*@Html.TextBoxFor(modelItem => item.DocumentCreated, "{0:dd/MM/yyyy}", new { @readonly = true })*@
        </td>
        <td style="width: 15%;">
            @Html.DisplayFor(modelItem => item.InvoiceNumber)
        </td>

        <td style="width: 10%;">
            @Html.DisplayFor(modelItem => item.NameBank)
        </td>
        <td style="width: 10%;">
            @*@Html.DisplayFor(modelItem => item.IncomingCategory.IncomingCategoryName)*@
        </td>
        <td style="width: 10%;">
            @*@Html.DisplayFor(modelItem => item.WayOfPayment.WayOfPaymentName)*@
        </td>
        <td style="width: 15%;">
            @*<a href='@Url.Action("Edit", new { id = item.Id })'>
                    <img src="~/pictures/icons8-pencil-50.png" alt="Редактировать" title="Редактировать" />
                </a>
                <a href='@Url.Action("Details", new { id = item.Id })'>
                    <img src="~/pictures/icons8-information-2.png" alt="Детальнее" title="Детальнее" />
                </a>
                <a href='@Url.Action("Delete", new { id = item.Id })'>
                    <img src="~/pictures/icons8-delete-2.png" alt="Удалить" title="Удалить" />
                </a>*@
            @*@Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Детальнее", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })*@
        </td>
    </tr>

}